services:
  db:
    image: postgres:17
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: aggregator_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    image: aggregator-api
    container_name: aggregator-api
    restart: always
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/aggregator_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_AI_OLLAMA_BASE-URL: http://ollama:11434

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: always
    ports:
      - "11434:11434"
    environment:
      - OLLAMA_ORIGINS=*
    volumes:
      - ollama_data:/root/.ollama
#   THE BELOW ONLY WORKS ON PCs WITH NVIDIA GPUs
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]

  ollama-pull:
    image: ollama/ollama:latest
    container_name: ollama-pull
    depends_on:
      - ollama
    volumes:
      - ollama_data:/root/.ollama
    entrypoint: /bin/sh
    command: >
      -c "
      echo 'Waiting for Ollama to start...' &&
      sleep 5 &&
      echo 'Pulling mistral model...' &&
      ollama pull mistral &&
      echo 'Model pulled successfully!'
      "
    restart: "no"

  ui:
    image: aggregator-ui
    container_name: aggregator-ui
    build:
      context: ../../ui/aggregator-ui
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - api

volumes:
  postgres_data:
  ollama_data: